@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&display=swap');


a{
    text-decoration: none;

}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: 'Montserrat', sans-serif; 
    font-size: 2.5rem;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    outline: none;
    color: white
}

span{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0 5vw;
}

p{
    font-family: 'Poppins', sans-serif;
    /* color:white; */
}


.heading{
    font-size: 2.5rem;
    margin-right: -3px;
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
    padding-top: 4rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;

}

.heading::after{
    content: "";
    width: 10rem;
    height: .4rem;
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); 
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}


.nav-letter{
    color:#000080;
    font-weight: 700;
}

#logo{
    width: 50%;
    height: 50%;
    display: block
}
.nav{
    padding: 0.2rem;
    height:0rem ;
    min-height: 15vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    /* box-shadow: 0 9px 9px rgba(75, 74, 74, 0.25), 
    0 9px 9px rgba(138, 137, 137, 0.25); */
}

.nav .nav-menu{
    justify-content: space-between;
}


.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: #21b9c4;
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem ;
    font-size: 1.5rem ;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
}

.active, .nav .nav-items .nav-link:hover{
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); 
}

.active, .nav .nav-items .nav-link:hover a{
    color: white;
}
.white{
    color: white;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0.5rem;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.nav .nav-brand img{
    font-size: 1.6rem;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem 0.5rem;
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}

/* NAVBAR */


/*------- SITE TITLE---------------*/
    .site-title{
        /* background: url('../assets/background3.jpg'); */
        background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); 
        background-size: cover;
        height: 80vh;
        display: flex;
        justify-content: center;
        background-size: 100% 100%;

    }

    .site-title .site-background{
        padding-top: 5rem;
        text-align: center;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;

    }

    .site-title h1, h3{
        margin: .3rem;
    }

    .site-title .btn{
        margin: 1.8rem;
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    }

    .site-title .btn:hover{
        background: transparent;
        border: 1px solid #ffffff;
        color: #ffffff;
    }

    /* ------------add------------- */

    .content-background {
        display: flex;
        min-height: 100vh;
        background: url(../assets/sitetitle/bg-wave.png) center no-repeat;
        width: 100%;
        background-size: cover;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 100px ;
    }

    .content-background h2
    {
        position: absolute;
        transform: translate(-50%,-50%);
        font-size: 7em;
        top: 190px;
        justify-content: center;
        align-items: center;
        left: 750px;
        font-family: 'Arima Madurai', cursive;
        }


    .content-background h2:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 2px navy;
    }
    .content-background h2:nth-child(2) {
        color: navy;
        animation: wave 3s ease-in-out infinite;
    }
    @keyframes wave {
        0%,100% 
        {
            clip-path: polygon(0 42%, 13% 48%, 26% 55%, 41% 64%, 56% 65%, 69% 58%, 84% 45%, 100% 38%, 100% 100%, 0% 100%);
        }
        50%
        {
            clip-path: polygon(0 63%, 14% 57%, 25% 50%, 40% 42%, 56% 40%, 71% 44%, 84% 50%, 100% 60%, 100% 100%, 0% 100%);
        }
    }
/*------- SITE TITLE---------------*/


/*------- FOOTER---------------*/
footer.footer{
    height: 100%;
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); 
    position: relative;
    box-shadow: 0 9px 9px rgba(20, 20, 20, 0.25), 
    0 9px 9px rgba(8, 8, 8, 0.25);
    margin-top: 100px;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: white;
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .5rem;
    border: none;
    background: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    width: 75%;
    outline: none;

}

footer.footer .newsletter .form-element span{
    background:linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    padding: 0.5rem 0.67rem;
    cursor: pointer;
}

#pointer{
    padding-right: 12px;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: 0.1rem 0.1rem;
}

footer.footer .follow div i{
    color: white;
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

footer.footer .rights h4 a{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: black;
    
}

footer.footer .move-up span:hover{
    color: white;
    cursor: pointer;
}

#last_icon{
    color: black
}

/*------- FOOTER---------------*/