<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="blog-post">
        <div class="blog-post-img">
            <img src="../../../assets/profile/profile-cards-bg.png">
        </div>
        <div class="blog-post-info">
            <div class="blog-post-date">
                <span>Sunday</span>
                <span>October 27 2019</span>
            </div>
            <h1 class="blog-post-title"> Hello</h1>
            <p class="blog-post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni recusandae voluptates tempore impedit totam non natus, nobis quis unde ad optio distinctio ipsa molestias incidunt. Excepturi deleniti culpa fugit totam tempora obcaecati repellat ex, animi dolores sequi odit, omnis eaque rem a, quaerat nesciunt quia sapiente quis ullam eligendi. Similique, fugit autem. Sequi alias tenetur eum minus a hic ea neque! Quibusdam laboriosam libero nostrum magnam qui cum repudiandae quos adipisci, necessitatibus a porro amet nemo asperiores, quam tempora ut aliquid voluptates inventore voluptas nihil rerum voluptatem esse commodi impedit. Illum assumenda voluptates illo mollitia, similique a eaque incidunt molestias.</p>
            <a class="blog-post-button">Read more</a>
        </div>
    </div>
</body>
</html>